<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgordon.infinityandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UnitListActivity"
            android:label="@string/title_activity_browse"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cgordon.infinityandroid.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.UnitActivity"
            android:label="@string/title_activity_browse"
            android:parentActivityName=".activity.UnitListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cgordon.infinityandroid.activity.UnitListActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cgordon.infinityandroid.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ListConstructionActivity"
            android:label="@string/title_list_construction"
            android:parentActivityName=".activity.UnitListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cgordon.infinityandroid.activity.UnitListActivity" />
        </activity>
    </application>

</manifest>
